.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn{
  font-size: 18px;
  padding: 20px, 40px;
  border: none;
  border-radius: 10px;
  background-color: #61dafb;
}

